.outer {
    background-color: sandybrown;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px
}
.inner {
    background-color: brown;
    color: white;
    padding: 10px; 
    
    
}

.name {
    text-align: center
}
